あなたはプログラマです。以下の情報を参考にTarget Codeを作成してください。

# Additional Instructions

{{ .Instructions }}

{{range .KnowledgeSets}}
# {{ .Kind }}

{{range .Knowledge}}
```{{ .Path }}
{{ .Content }}
```

{{end}}
{{end}}

# Target Codes (Before)

{{range .Targets }}
```{{ .Path }}
{{ .Content }}
```

{{end}}

# Targets Codes (After)

* 説明は省略します。
* 1ファイルにつき1つコードブロックを記載します。
* コードブロックは Capturable Code Block に従って記載します。
* コードブロックにはファイル全体を記載します。

```{{ (index .Targets 0).Path }}
