あなたはプログラマです。以下の情報を参考にTarget Codeを作成してください。

{{ if ne .Instructions "" }}
# Additional Instructions

{{ .Instructions }}
{{ end }}

{{ if ne .FolderStructure "" }}
# Folder Structure

```
{{ .FolderStructure }}
```
{{ end }}

{{range .KnowledgeSets}}
# {{ .Kind }}

{{range .Knowledge}}
```{{ .Path }}
{{ .Content }}
```

{{end}}
{{end}}

# Target Codes (Before)

{{range .Targets }}
```{{ .Path }}
{{ .Content }}
```

{{end}}

# Capturable Code Block とは

以下の書式に従うコードブロックを指します。

* コードブロック開始の書式： \<!-- CODE_BLOCK_BEGIN -->```[Target Code Path]
* コードブロック終了の書式： ```\<!-- CODE_BLOCK_END -->
* [Target Code Path]はTarget Codeのパス（プロジェクトルートからの相対パス）を指します

# Targets Code (After)

* 説明は省略します。
* 1ファイルにつき1つコードブロックを記載します。
* コードブロックは Capturable Code Block に従って記載します。
* コードブロックにはファイル全体を記載します。

## {{ .GeneratePath }}

